{% extends 'filme/base.html' %}

{% block content %}
    <div class="post">

        <hr>

        <div class="titulo">
            <h1>Comentários</h1>
        </div>

        <hr>

        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add commentário</a>

        <hr>

            {% for comment in post.comments.all %}
                <div class="grupo">
                    {% if user.is_authenticated or comment.approved_comment %}
                        <div class="novo">

                            <strong>Data do comentário: </strong> {{ comment.created_date }}
                        </div>
                        <div class="comment">

                            {% if not comment.approved_comment %}
                                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                                    <i class="bi bi-file-x"></i>
                                </a>
                                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                                    <i class="bi bi-bookmark-check"></i>
                                </a>
                                <br>
                            {% endif %}
                            <p><strong>Autor: </strong> {{ comment.autor }}</p>
                            <p><strong>Comentário: </strong>{{ comment.texto }}</p>
                        </div>
                    {% endif %}
                </div>

                <hr>
            {% empty %}

                <p>No comments here yet :(</p>

                <hr>

            {% endfor %}

            <div class="titulo">
                <h1>Publicação</h1>
            </div>

            <hr>

            <div class="grupo">
                <div class="comment">
                    {% if post.published_date %}
                        <div class="novo">
                            <strong>Data da publicação: </strong>{{ post.published_date }}
                        </div>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    {% endif %}

                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                        <i class="bi bi-file-earmark-x"></i>
                    </a>

                    <h2>Nome: {{ post.titulo|title }}</h2>
                    <p><strong>Ano:</strong> {{ post.ano|linebreaksbr }}</p>
                    <p><strong>Duração:</strong> {{ post.duracao|linebreaksbr }}</p>
                    <p><strong>Gênero:</strong> {{ post.genero|linebreaksbr }}</p>
                    <p><strong>Descrição:</strong> {{ post.descricao|linebreaksbr }}</p>



                    <div class="heart">
                        {{ post.views }} views &nbsp; | &nbsp;
                        <a href="{% url 'post_like' pk=post.pk %}">
                            {% if liked %}
                            <i class="bi bi-suit-heart-fill liked"></i>
                            {% else %}
                            <i class="bi bi-suit-heart-fill"></i>
                            {% endif %}
                        </a>
                        {{ post.likes_count }} &nbsp; | &nbsp;
                        {{ percent|floatformat:2 }} %
                    </div>

                </div>
            </div>



        <!--</aside>-->


    </div>
{% endblock %}
